@green: #79B260; //Салатовый цвет
@lightGray: #424242;
@darkGray: #342E31;
//******* Общие стили ******
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  color: #A6A5A5;
  text-decoration: none;
}

.wrap {
  width: 100%;
  min-height: 50px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

//******* Верхняя часть шапки сайта ******
.top-navigation {
  height: 30px;
  display: block;
  background-color: #424242;
    ul {
      text-align: right;
        li {
          display: inline-block;
          margin: 5px 0 0 30px;
          color: #EFEFEF;
          list-style: none;
        }
    }
}

//******* Средняя часть шапки сайта ******
.middle-navigation {
  height: 85px;
  padding: 30px 0 20px 0;
  background-color: #EFEFEF;
    .logo {
      float: left;
      display: inline-block;
    }
    //******* Панель поиска ******
    .search-panel {
      float: left;
      display: inline-block;
      padding: 5px;
      margin: 10px 70px 0 65px;
      background-color: @green;
      border-radius: 2px;
        #search {
           height: 30px;
           width: 330px;
           border-radius: 5px;
           border-color: white;
           outline: none;
         }
        input {
          float: left;
          padding-bottom: 2px;
        }
        button {
          float: left;
          padding: 3px 0 0 0;
          background-color: @green;
          color: white;
          font-size: 18px;
          cursor: pointer;
          border: none;
            i {
              padding: 3px;
              color: white;
            }
          }
  }
  //******* Корзина ******
  .cart-wrap {
    display: inline-block;
    width: 185px;
    margin-bottom: 70px;
      .cart {
        font-size: 22px;
          .cart-item {
            font-size: 14px;
          }
          i {
            padding-right: 10px;
            color: @green;
            transform: scaleX(sm);
          }
      }
    //******* Общая сумма корзины ******
    .price {
      display: inline-block;
      font-weight: bold;
      font-size: 28px;
      color: #6D6D6D;
        span {
          padding-top: 5px;
        }
        button {
          width: 85px;
          height: 30px;
          margin: 2px 0 0 10px;
          float: right;
          color: white;
          font-weight: bold;
          background: linear-gradient(0deg, rgb(37, 37, 37) 0%, rgb(65, 65, 65) 40%);
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
    }
  }
  //******* Избранное ******
  .favorites {
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
      .icon-star {
        margin-left: 25px;
        margin-top: 5px;
      }
      .count-favorites {
        width: 35px;
        padding: 0 8px;
        position: relative;
        right: 20px;
        bottom: 12px;
        color: white;
        background-color: @green;
        border-radius: 15px;
      }
  }
}

//******* Футер шапки сайта, или меню ******
.header-nav {
  height: 40px;
  border-top: 1px solid #CECECE;
  border-bottom: 1px solid #CECECE;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
        a {
          width: 100%;
          padding: 10px;
          font-size: 17px;
          vertical-align: middle;
          text-align: center;
        }
        a:hover:not(.active) {
          color: white;
          background-color: @green + 40%;
        }
        .active {
          color: white;
          background-color: @green + 10%;
          border-bottom: 1px solid #73A15F;
        }
    }
}
